<div class="scrappy">
	<div class="key">
		<label>Key</label> <input type="text" name="key" value="">
		<button>Start matching</button>
	</div>
	<div class="select">
		<h6>Current selector</h6>
		<b class="selector"></b>
		<h6>Match Type:</h6>
		<p><input type="radio" name="matchType" value="Single"/> Single</p>
		<p><input type="radio" name="matchType" value="Collection"/>Collection</p>
	</div>
	<div class="results">
		<h6>Matched Data</h6>
		<b></b>
		<pre>

		</pre>
		<button>Match</button>
	</div>
	<div class="menu">
		<button>Save Variable</button>
	</div>
</div>