<div class="scrappy">
	<div class="next-mode">
		<h3>Scrap Type</h3>
		<p><input type="radio" name="scrap-type" value="collection" selected="selected"/>Collection</p>
		<p><input type="radio" name="scrap-type" value="single"/> Single</p>
		<h6>Next Page</h6>
		<p><b>Next Page Selector: </b> <input type="text" name="next-selector" readonly="readonly"/> <button>Select</button></p>
	</div>
	<div class="key">
		<label>Key</label> <input type="text" name="key" value="">
		<button>Start matching</button>
	</div>
	<div class="select">
		<h6>Current selector</h6>
		<b class="selector"></b>
		<h6>Match Type:</h6>
		<p><input type="radio" name="matchType" value="collection" selected="selected"/>Collection</p>
		<p><input type="radio" name="matchType" value="single"/> Single</p>
	</div>
	<div class="matches">
		<h6>Matched Data</h6>
		<b></b>
		<pre>

		</pre>
		<button>Match</button>
	</div>
	<div class="results">

	</div>
	
	<div class="menu">
		<button>Save Blueprint</button>
	</div>
</div>