html,body {
	margin-right: 350px;
}

.scrappy {
	position: fixed;
	z-index: 5000;
	top: 0px;
	right: 0px;
	background-color: white;
	width: 250px;
	height: 100%;
	border: 1px solid #999;
}

.scrappy .hidden {
  display: none;
}

.scrappy .separator {
	border-bottom: 1px solid #CCC;
}

.scrappy .select b.selector {
	color: #666;
	border-bottom: 1px dashed #666;
    text-decoration: none;
}

.scrappy .matches {
	border-bottom: 1px solid #CCC;
}

.scrappy .menu {
	position: absolute;
	bottom: 0;
	border-top: 1px solid #CCC;
	width: 100%;
}

.scrappy-hover {
	outline: 3px solid red;
}

.scrappy-matched {
	outline: 3px solid #ccc;
}

.scrappy-selected {
	outline: 3px solid orange;
}

